{% extends 'mainapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
</head>
<body>
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
        <button type="reset" style="display: block; margin-top: 5px;">Очистить форму</button>
    </form>
{% endblock %}
</body>
</html>